<div class="card mt-3">
  <p-table
  (onRowSelect)="onRowSelect($event)"
  (onRowUnSelect)="onRowUnSelect($event)"
  [(selection)]="registroSelecionado"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Exibindo {first} de {last} no total de {totalRecords} registros"
    [paginator]="true"
    [rows]="10"
    [totalRecords]="totalRecords"
    [rowsPerPageOptions]="[5, 10, 20]"
    [columns]="cols"
    [value]="registros"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template pTemplate="header" let-columns>
      <tr>       
        <th
          *ngFor="let col of columns"
          style="
            background-color: rgb(5, 170, 179);
            color: white;
            text-align: left;
            font-weight: bold;
          "
        >
          {{ col.header }}
        </th>

        <th
          *ngIf="isSelecionar"
          style="
            background-color: rgb(5, 170, 179);
            color: white;
            text-align: left;
            font-weight: bold;
          "
        > 
        Ações         
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>       
        <td *ngFor="let col of columns">
          {{ rowData[col.field] }}
        </td>

         <td *ngIf="existeExcluir">
            <!-- <p-tableRadioButton [value]="rowData"></p-tableRadioButton> -->
              <i class="pi pi-trash" (click)="handleExcluir(rowData)"></i>
              <i class="pi pi-pencil" (click)="handleExcluir(rowData)"></i>
        </td>

        

      </tr>
    </ng-template>
  </p-table>
</div>
