<p-card class="card">
  <div class="p-card-header">
    <div class="p-card-header-container">
      <i class="pi pi-bars"></i>
      <h3>Listagem de Categorias</h3>
    </div>
  </div>
  <p-panel>
    <form [formGroup]="formGroup">
      <div class="form-group d-flex col-12">
        <div class="me-3">
          <div class="mb-1">
            <label for="categoria">Categoria</label>
          </div>
          <p-autoComplete
          class="w-100"
            [(ngModel)]="categoria"
            [dropdown]="true"
            [suggestions]="categoriasFiltradas"
            (completeMethod)="filterCountry($event)"
            placeholder="Selecione uma categoria"
            field="nome"
          >
          </p-autoComplete>
        </div>

        <div>
           <div class="mb-1">
            <label for="categoria">Situação</label>
          </div>
          <p-dropdown
             class="w-100"           
            [options]="status"
            optionLabel="nome"
            placeholder="Selecione o Status"
          />
        </div>
      </div>
    </form>
  </p-panel>

<app-table [cols]="colsTable" [registros]="categorias" [totalRecords]="10" (itemSelecionado)="onItemSelecionado($event)"></app-table>

</p-card>

<!-- <ul>
  <li *ngFor="let categoria of categorias">{{ categoria.nome }}</li>
  {{
    categoriasFiltradas
  }}
</ul> -->
