/* Efeito hover nos links do menu */
nav .nav-link {
  transition: all 0.3s ease; /* animação suave */
  color: #333; /* cor padrão */
}

nav .nav-link:hover {
  background-color: #13b6beff; /* cor de fundo ao passar o mouse */
  color: #fff; /* cor do texto ao passar o mouse */
  border-radius: 5px; /* cantos arredondados */
  padding-left: 12px; /* leve deslocamento ao passar o mouse */
  text-decoration: none; /* remove underline */
  font-weight: bold;
}


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.corLinks {
  color: #0abdc7;
}

.corLinks:hover {
  color: #2d888dff;
  background-color: #ccc;
    font-weight: bold;
}

.corLinks.active {
  font-weight: bold;
}
.corBorda {
  color: #0abdc7;
}


.userFoto{
  height: 50px;
  width: 50px;
border-radius: 50%;
background-color:  #a3cdcf3b;
}

img{
   height: 50px;
  width: 50px;
  border-radius: 50%;
}
