<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>

<p-card class="card">
  <div class="p-card-header">
    <div class="p-card-header-container">
      <i class="pi pi-cog"></i>
      <h3>{{tituloPagina}}</h3>
    </div>
  </div>

  <p-panel>
    <form [formGroup]="form" class="p-3">
      <!-- Linha: Título + Prioridade -->

 <div class="d-flex flex-column col-12 mb-5">
          <div class="mb-1">
            <label for="categoria">Status do chamado</label>
          </div>
          <div>         
           <p-dropdown
            class="w-100"
            [options]="situacaoChamado"
            optionLabel="nome"
            optionValue="codigo"
            placeholder="Selecione o Status"         
            formControlName="statusChamado"
          />
        </div>
        </div>


      <div class="d-flex col-12 justify-content-center">
        <div class="col-6">
          <label for="departamento">Departamento</label>
          <input
            type="text"
            class="form-control"
            formControlName="departamento"
            id="departamento"
          />
        </div>

        <div class="ms-3 mt-3 col-6 p-0">
          <!-- <div class="mb-1">
            <label for="categoria">Categoria</label>
          </div> -->
          <p-autoComplete
            class="w-100"       
            [dropdown]="true"
            [disabled]="tipoTela === 'Atendimento'"
            formControlName="categoria"
            [suggestions]="categoriasFiltradas"
            (completeMethod)="filtrarCategorias($event)"
            (onSelect)="categoriaSelecionada($event)"
            placeholder="Selecione uma categoria"
            field="nome"
          >
          </p-autoComplete>
        </div>
      </div>

      <div class="form-group d-flex col-12">
        <!-- Título -->
        <div class="mt-2 col-9">
          <label for="titulo">Título</label>
          <input
            id="titulo"
            type="text"
            pInputText
            formControlName="titulo"
            class="col-12"            
          />
        </div>

        <!-- Prioridade -->
        <div class="mt-2 ms-3 col-3">
          <label for="status">Prioridade</label>
          <div>
            <p-dropdown
              class="w-100"
              formControlName="prioridade"
              [options]="status"
              optionLabel="nome"
              optionValue="codigo"
              placeholder="Selecione"
                [disabled]="tipoTela === 'Atendimento'"
            ></p-dropdown>
          </div>
        </div>
      </div>

      <!-- Descrição -->
      <div class="col-12 mt-3">
        <label for="descricaoProblema">Descreva o problema</label>
        <div class="card flex justify-content-center">
          <textarea
            id="descricaoProblema"
            rows="5"
            cols="30"
            pInputTextarea
            class="w-100"
            formControlName="descricaoProblema"
          ></textarea>
        </div>
      </div>

      <div class="col-12 mt-3">
        <label for="descricaoProblema">Resolução do problema</label>
        <div class="card flex justify-content-center">
          <textarea
            id="resolucaoProblema"
            rows="5"
            cols="30"
            pInputTextarea
            class="w-100"
            formControlName="resolucaoProblema"
          ></textarea>
        </div>
      </div>

      <!-- Upload + Botão -->
      <div class="col-12 mt-3">
        <div class="d-flex justify-content-between align-items-end">
          <!-- Upload de Arquivo -->
          <div *ngIf="!edicao">
            <p-fileUpload
              mode="basic"
              chooseLabel="Anexar Arquivo"
              chooseIcon="pi pi-upload"
              name="anexo"
              [customUpload]="true"
              accept="image/*"
              [maxFileSize]="1000000"
              (onUpload)="onUpload($event)"
              (onSelect)="onSelect($event)"
              (onProgress)="onProgress($event)"
            ></p-fileUpload>

            <p *ngIf="uploadProgress >= 0">Progresso: {{ uploadProgress }}%</p>
            <p *ngIf="uploadMessage">{{ uploadMessage }}</p>
          </div>

          <!-- Botão Salvar -->
          <div>
            <button
              type="button"
              pButton
              label="Salvar"
              class="p-button-primary"
              icon="pi pi-check"
              iconPos="right"
              (click)="handleAdd($event)"
            ></button>
          </div>
        </div>
      </div>
    </form>
  </p-panel>
</p-card>
