/* ============================= */
/* ======= CARD SECTION ====== */
/* ============================= */
.p-card {
  background-color: #f8f9fa;
  width: 95vw;
  margin: 0 auto;
}

.p-card-title {
  font-weight: bold;
  font-size: 1.5rem;
  color: #333;
}

.p-card-header-container {
  display: flex;
  align-items: center;
}

/* ============================= */
/* ======= ICONS SECTION ====== */
/* ============================= */

.pi-bars {
  font-size: 30px;
  margin-right: 15px;
  color: rgb(8, 128, 134);
}

/* ============================= */
/* ======= TITLES SECTION ====== */
/* ============================= */

h3 {
  color: #00adb5;
  font-weight: bold;
}

/* ============================= */
/* ======= FIELDSET SECTION ====== */
/* ============================= */
