/* .nav-link.active {
  font-weight: bold;
  text-decoration: underline;
}

.corBorda{
    color: #00adb5;
}

a{
  text-decoration: none;
}

.corLinks{
  color:  #2bcfd8ff;
  transition: color 0.2s;
  font-size: 20px;
}

.corLinks:hover {
  color: #00adb5; 
} */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.corLinks {
  color: #0abdc7;
}
.corLinks.active {
  font-weight: bold;
}
.corBorda {
  color: #0abdc7;
}

.corLinks {
  color: #0abdc7;
}
.corLinks.active {
  font-weight: bold;
}
