<div class="d-flex flex-column" style="height: 100vh">
  <!-- Cabeçalho -->
  <header
    class="bg-primary text-white p-2 d-flex justify-content-between align-items-center"
  >
    <div
      class="d-flex border-bottom justify-content-between align-items-center mb-3"
    >
      <h3 class="me-3 text-white">HDP</h3>
      <fa-icon
        [icon]="faHeadphones"
        size="lg"
        class="text-white fs-5 mb-1"
      ></fa-icon>
    </div>

    <div>Sistema de Gerenciamento de Chamados V 1.0</div>

    <!-- Botão menu hambúrguer (visível apenas em telas pequenas) -->
    <button
      class="btn btn-outline-light d-lg-none"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#mobileSidebar"
      aria-controls="mobileSidebar"
    >
      <fa-icon [icon]="fabars"></fa-icon>
    </button>
  </header>

  <div class="d-flex flex-grow-1" style="overflow: hidden">
    <!-- Sidebar fixa (visível apenas em telas grandes) -->

    <div class="bg-light p-1 d-none d-lg-block" *ngIf="!showSidebar">
       <fa-icon
            class="btn btn-outline-light d-lg-none"
              [icon]="fabars"
              class="corBorda fs-3 mb-1"  
              (click)="toggleSidebar()"            
            ></fa-icon>
    </div>

    <div
      class="bg-light p-3 d-none d-lg-block"
      style="border-right: 2px solid #0abdc7"
      *ngIf="showSidebar"
    >
      <div
        class="border-bottom border-2 mb-4 justify-content-between align-items-center"        
      >
        <div class="d-flex justify-content-between">
          <div
            class="d-flex userFoto align-items-center justify-content-center"
          >
          <img src="https://sujeitoprogramador.com/steve.png" alt="fotoPerfilUsuario" width="50" height="50">           
          </div>
          <div
            class="d-flex userFoto align-items-center justify-content-center"
          >
            <fa-icon
            class="btn btn-outline-light d-lg-none"
              [icon]="fabars"
              class="corBorda fs-3 mb-1"  
              (click)="toggleSidebar()"            
            ></fa-icon>
          </div>
        </div>
      </div>
      <ul class="nav flex-column">   
        <li class="nav-item">
          <a
            class="nav-link corLinks text-decoration-none"
            routerLink="/categoria"
            routerLinkActive="active"
            >Categorias</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link corLinks text-decoration-none"
            routerLink="/departamento"
            routerLinkActive="active"
            >Departamentos</a
          >
        </li>
      </ul>
    </div>

    <!-- Conteúdo principal -->
    <div class="flex-grow-1 d-flex flex-column" style="overflow: auto">
      <div class="flex-grow-1 p-3">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

<!-- Sidebar Offcanvas (mobile) -->
<div
  class="offcanvas offcanvas-start d-lg-none"
  tabindex="-1"
  id="mobileSidebar"
  aria-labelledby="mobileSidebarLabel"
>
  <div class="offcanvas-header">
    <h5 id="mobileSidebarLabel">Menu</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Fechar"
    ></button>
  </div>
  <div class="offcanvas-body">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a
          class="nav-link corLinks text-decoration-none"
          routerLink="/categoria"
          routerLinkActive="active"
          data-bs-dismiss="offcanvas"
          >Categorias</a
        >
      </li>
       <li class="nav-item">
          <a
            class="nav-link corLinks text-decoration-none"
            routerLink="/departamento"
            routerLinkActive="active"
              data-bs-dismiss="offcanvas"
            >Departamentos</a
          >
        </li>
    </ul>
  </div>
</div>
